<Match
  pattern="/"
  exactly
  render={() => (
    <Homepage
      amountOfProducts={2}
      data={cats}
    />
  )}
/>
<Match
  pattern="/catfood"
  exactly
  render={() => (
    <Category
      desc={categories.catfood.desc}
      items={categories.catfood.items}
    />
  ) }
/>
<Match
  pattern="/cats"
  exactly
  render={ () => {
    const { desc, items } = categories.cats;
    return (
      <Category desc={desc} items={items} />
    )
  }}
/>
<Match
  pattern="/search/:term"
  exactly
  render={ ({ params }) => (
    <SearchResult
      term={params.term}
      data={cats}
    />
  )}
/>
<Match
  pattern="/cats/:breed"
  exactly
  render={ ({ params, location }) => {
    let sortedBy, sortDirection;
    if (location.query) {
      { sortedBy, sortDirection } =
      location.query;
    }

    return (
      <List
        type="cats"
        data={cats}
        slug={params.breed}
        sortedBy={sortedBy}
        sortDirection={sortDirection}
      />
    );
  } }
/>
<Match
  pattern="/cats/:breed/:catName"
  exactly
  render={ ({ params }) => (
    <Detail
      data={cats}
      slug={params.catName}
    />
  )}
/>



