<Match
  pattern="/cats/:breed"
  exactly
  render={ ({ params, location }) => {
    const sortedBy = location.query ?
      location.query.sortedBy :
      null;
    const sortDirection = location.query ?
      location.query.sortDirection :
      null;
    return (
      <List
        type="cats"
        data={cats}
        slug={params.breed}
        sortedBy={sortedBy}
        sortDirection={sortDirection}
      />
    );
  } }
/>
